{% extends 'polls/base.html' %}

{% block contenido %}

<h1> Lista de encuestas disponibles! </h1>

<ul>
	{% for e in encuestas %}
	<li> <a href=""> {{e}}  </a>  </li>
	{% endfor %}
</ul>

{% endblock %}